[Unit]
Description=Initialize NethServer configuration
Documentation=https://github.com/nethesis/nethserver-base
After=network.service
Before=getty.target
ConditionPathExists=/var/spool/first-boot

[Service]
Type=oneshot
ExecStart=/sbin/e-smith/signal-event system-init

[Install]
WantedBy=multi-user.target

