[Unit]
Description=Initialize NethServer configuration
Documentation=https://github.com/nethesis/nethserver-base
ConditionPathExists=/var/spool/first-boot
After=network-online.target
DefaultDependencies=false
Conflicts=shutdown.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/sbin/e-smith/signal-event system-init

[Install]
WantedBy=multi-user.target

