{
    use esmith::I18N;
    use Locale::gettext;

    my $i18n = new esmith::I18N;
    $i18n->setLocale('userInChageWarning');

    my $domain = $conf->get_value("DomainName") || "localhost";
    my $systemName = $conf->get_value("SystemName") || "SME Server";

    $OUT .= "To: $data{fullname} <$data{username}\@${domain}>\n";
    $OUT .= "From: \"".
	    gettext("Automated password expiration report").
		"\" <do-not-reply\@${domain}>\n";
    $OUT .= "Subject: ".gettext("Your password is about to expire")."\n\n";

    $OUT .= gettext("You have")." ".$data{daysleft}." "
        .gettext("days left to change your password before your account will be blocked").".\n";
    $OUT .= gettext("You can change your password either following this link").": https://"
        .$systemName.".".$domain."/user-password\n";
    $OUT .= gettext("or, if you have joined the domain, through the usual window password tool").".\n";
    $OUT .= "\n-- \n".gettext("Automated password expiration report").".\n";
}
