
.right_panel {
    float: right;
}

.left_panel {
    float: left;
    max-width: 540px;
}

h1 {
    margin: 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.statusbox {
    float: left;
    min-height: 92px;
    margin: 22px 16px;
    border: 1px solid #777;
}

.statusbox .caption {
    font-weight: bold;
    padding: 2px 4px;
    border-bottom: 1px solid #555;
    background: #ddd;
}

.statusbox .content {
    float: left;
    margin: 2px 0;
}

.statusbox .running {
    background: url('img/system-running.png');
    padding: 8px;
}

.statusbox .stopped {
    background: url('img/system-stopped.png');
    padding: 8px;
}

.statusbox .item {
    margin: 2px;
    background: #eee;
    font-weight: bold;
    padding: 1px;
    width: 200px;
}

.statusbox .item .status {
  float: right;
  font-weight: normal;
}

.tab {
    float: left;
    clear: left;
    min-width: 420px;
    margin: 22px 16px;
    border: 1px solid #555;
}

.contiguous {
    clear: none;
}

.tab .caption {
    border-bottom: 1px solid #555;
    padding: 1px 4px;
    background: #ddd;
    font-weight: bold;
}

.tab table {
    border-collapse: separate;
    border-spacing: 2px;
}

.tab table thead {
    padding-bottom: 4px;
}

.tab table tr {
    padding: 1px;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

.tab table thead tr {
    background: none;
}

.tab table tr td {
    padding: 2px 4px;
    text-align: center;
}

.chart {
    float: left;
    height: 320px;
    width: 450px;
    margin: 22px 22px;
    padding: 0;
    border-top: 1px solid #555;
    border-bottom: 1px dotted #555;
}

.chart .title {
    padding: 2px 4px;
    background: #eee;
    font-weight: bold;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

.chart .content {
    margin: 12px 0;
}
