#pageHeader { background: #bed2ea; }
.header {background: #bed2ea; color: #002F64 }
.Navigation.Flat a {color: #111;}
.Navigation.Flat .category {color: #002f64;}
[role="otherTask"] { background: #bed2ea;}