#pageHeader { background: #bed2ea; }
.header {background: #bed2ea; color: #002F64 }
.Navigation.Flat a {color: #fff;}
.Navigation.Flat a:hover {color: #79aa0e;}
.Navigation.Flat .category {color: #fff;}
[role="otherTask"] { background: #79aa0e;}
.Navigation.Flat a.currentMenuItem { color: #79aa0e }
